.resultselect {
	padding: 1.5rem;
	display: flex;
	flex-direction: column;

	max-width: 15rem;
}
.resultselect label {
	margin-bottom: 0.5rem;
}
.resultselect select {
	padding: 0.3rem;
}
