.containradio {
	width: 13rem;
	display: flex;
	justify-content: space-around;
	align-items: center;

	max-width: 15rem;
	padding: 0.5rem;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap-reverse;
	height: 15rem;
	background-color: rgb(233, 144, 144);
	transition: background-color 450ms ease-in-out;
	padding: 1rem;
}
.switcher {
	max-width: 15rem;
}
h1 {
	text-align: center;
	padding: 10px;
	color: white;
	transition: background-color 450ms ease-in-out;
}
